@tailwind base;
@tailwind components;
@tailwind utilities;

/* form */
.label {
  @apply text-sm text-gray-500;
}

.input {
  @apply block border-2 border-rose-700 py-3 px-4 mt-3;
}

.input-focus {
  @apply focus:outline-none focus:ring-4 focus:ring-rose-300 focus:border-rose-500;
}
/* end of form */

.effect-3 {
  @apply transition ease-linear duration-300;
}

.btn {
  @apply px-6 py-2 border-2 border-rose-700 rounded-lg text-black text-lg font-semibold;
}

.btn-hover {
  @apply hover:bg-rose-700 hover:text-white;
}

.btn-reverse {
  @apply px-6 py-2 border-2 bg-rose-700 rounded-lg text-white text-lg font-semibold;
}

.btn-reverse-hover {
  @apply hover:bg-white hover:border-rose-700 hover:text-black;
}

.btn-focus {
  @apply focus:outline-none focus:ring-4 focus:ring-rose-300 focus:border-rose-500;
}

/* user page navbar effect */
li:hover span {
  width: 100%;
}

.right-hide {
  right: -33.33%;
}

.right-show {
  right: 0px;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../public/cart.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.user-btn {
  @apply px-6 py-2 rounded-lg text-lg;
}

.instagram {
  /* Apply gradient background to text */
  background-image: linear-gradient(to right, #8a3ab9, #cd486b);
  /* Set text color to transparent to allow gradient to show through */
  -webkit-background-clip: text;
  background-clip: text;
  /* Ensure text remains visible on browsers that don't support background-clip */
  color: transparent;
}

.message-box::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: 97%;
  bottom: 30%;
  transform: translate(-50%) rotate(45deg);
  background: rgb(31 41 55);
}

/* pagination */
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagination button {
  border-radius: 5px;
  margin: 0 5px;
  background-color: #3498db; /* Default background color */
  color: white; /* Default text color */
  padding: 5px 10px; /* Adjust padding as needed */
  text-decoration: none; /* Remove underline */
}

#pagination button.active {
  background-color: #fff;
  color: #3498db;
  border-color: #3498db;
}

.cart .totalCartItem {
  background: #3498db;
  padding: 1px 8px;
  border-radius: 50%;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

.cart-body {
  overflow-y: auto;
}
